.c-formElement{
    &.is-success{
        .c-formElement__wrapper{
            border-color: var(--successColor);
        }
        .c-formElement__validationMessage{
            color: var(--successColor);
        }
    }

    &.is-error{
        .c-formElement__wrapper{
            border-color: var(--errorColor);
        }
        .c-formElement__validationMessage{
            color: var(--errorColor);
        }
    }
}

.c-formElement__wrapper{
    display: flex;
    gap: 1rem;
    background: var(--white);
    border-radius: var(--borderRadius-md);
    align-items: center;
    border: 1px solid var(--borderColor);
    padding: .8rem 1.6rem;
}

.c-formElement__helperText{
    color: var(--mutedColor);
}